.compras-container{
    margin-top: 4rem;
    min-height: 100vh;
}
.payment-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.paypal-buttons{
    width: 50%;
}

.thanks-container{
    margin-top: 4rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-big{
    width: 450px !important;
}