//========================VARS
$header-height:3rem;
$font-semi:600;
$font-bold:700;
//=========================COLORS
$firts-color:#E55947;
$firts-color-alt:#D2321E;
$white-color:#FAFAFF;
$dark-color:#101010;
$dark-color-light:#606060;
$gray-color:#F0F1F3;

//=============================FONTS AND TYPOGRAFY
$body-font:'Open Sans',sans-serif;
$big-font-size:3rem;
$h1-font-size:1.5rem;
$h2-font-size:1.25rem;
$normal-font-size:.938rem;
$small-font-size:.75rem;
//============================MARGINS
$mb-1:.5rem;
$mb-2:1rem;
$mb-3:1.5rem;
$mb-4:2rem;
//====================Z-INDEX
$z-tooltip:10;
$z-fixed:100;